@charset "UTF-8";

body{
    position: relative;
    background-image: url(../imagens/fundo-madeira.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 10vw;
}

#celular{
    position: absolute;
    background-image: url(../imagens/frame-iphone.png);
    background-size: 100% 100%;
    width: 40vw;
    max-width: 250px;
    height: 100vw;
    max-height: 700px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0%);
}

iframe{
    position: relative;
    width: 35vw;
    max-width: 217px;
    height: 75vw;
    max-height: 530px;
    top: 12.8%;
    left: 7%;
}

ul{
    list-style-type: none;
}

img{
    position: relative;
    height: 7vw;
    max-height: 45px;
    margin-top: 3%;
    left: 90%;
    border-radius: 50%;
}