@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

html, body{
    position: relative;
    width: 100vw;
    height: 100vh;
    background: url(../images/bg-main-desktop.png) no-repeat fixed;
    background-size: cover;
    font-family: 'Space Grotesk';
}

main{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

article > aside#card2 {
    position: relative;
    background: url(../images/bg-card-back.png) no-repeat ;
    background-size: contain;
    float: right;
    width: 260px;
    height: 200px;
}

article > aside#card2 > p{
    position: absolute;
    top: 61px;
    color: hsl(270, 3%, 87%);
    text-align: end;
    width: 230px;
}

article > aside#card1 {
    position: relative;
    top: 80px;
    left: 20px;
    background: url(../images/bg-card-front.png) no-repeat ;
    background-size: contain;
    width: 250px;
    height: 200px;
}

article > aside#card1 > img{
    position: absolute;
    top: 20px;
    left: 20px;
    width: 60px;
}

article > aside#card1 > h1{
    position: absolute;
    color: hsl(270, 3%, 87%);
    top: 80px;
    left: 20px;
}

article > aside#card1 > h4{
    position: absolute;
    color: hsl(270, 3%, 87%);
    top: 110px;
    left: 200px;
    font-size: 10px;
}

article > aside#card1 > p{
    position: absolute;
    color: hsl(270, 3%, 87%);
    top: 110px;
    left: 20px;
    font-size: 10px;
}

form{
    display: block;
    background-color: white;
    padding: 50px 20px 20px 20px;
}

form > span p > input{
    color: (270, 3%, 87%);
    display: block;
    padding-left: 10px;
    margin: 10px 0px;
    width: 320px;
    height: 30px;
    border-radius: 10px;
    border: solid 1px #00000021;
}

form > span > p > input#imes, input#iano{
    display: inline;
    width: 70px;
    border-radius: 10px;
}

form > span > p > label{
    color: hsl(278, 68%, 11%);
    display: block;
    width: 150px;
}

p#ola{
    display: inline-block;
}

form > span p> input#icvc{
    width: 150px;
    border-radius: 10px;
}

form > input{
    cursor: pointer;
    display: block;
    background-color: hsl(278, 68%, 11%);
    color: white;
    width: 340px;
    height: 50px;
    border-radius: 10px;
    border: none;
}

section#res{
    display: none;
    text-align: center;
    padding: 10px;
    margin-bottom: 40px;
}

#p1, #p2, #p3, #p4, #p5{
    display: none;
    font-size: 10px;
    color:#ff5252;
    margin-bottom: 10px;
    margin-top: -10px;
}

#p4, #p3 {
    padding-left: 50px;
    margin-bottom: 0px;
}

#p5 {
    padding-left: 200px;
}